@import url(http://fonts.googleapis.com/css?family=Raleway:900);

html, body {
    width: 100%; height: 100%;
    margin:0; padding:0; border:0;
    background: #444;
}

svg {
    padding: 64px;
}

.gametext {
    font-family: raleway, sans-serif;
    font-weight: 900;
    font-size: 32pt;
    color: #ccc;
    text-shadow: 2px 2px #222;
}

#clocktxt, #scoretxt {
    position : absolute;
    left: 360px;
    top: 50px;
}
#scoretxt {
    top: 100px;
}

#controls {
    position : absolute;
    left: 360px;
    top: 180px;
    font-family: verdana, arial, sans;x
}